.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 100px;
  }

  &__input {
    width: 60%;
    align-items: flex-end;
    text-align-last: right;

    label {
      margin: 0px 5px;
    }

    input {
      text-align-last: left;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__card {
      background: #6c757d;
      border: solid 1px white;
      width: 60% !important;
      margin: 10px;
      
      &__body__id {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        svg {
          font-size: 20px;
          margin-bottom: 3px;
        }
      }

      &__body__title {
        font-weight: bold;
        color: black;
      }

      &__body__text {
        font-style: italic;
      }

      &__body__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        place-content: center;
        
        &__divbutton button {
          color: white;
          background-color: black;
        }
      }
    }
  }
}